.env
.env.local
.env.*.php
.env.*.local
/public/storage
/storage/*.key
/bootstrap/cache
*.log
node_modules/
vendor/
.DS_Store
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.editorconfig
.php-cs-fixer.cache
.phpunit.cache
