[build]
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[build.environment]
PHP_VERSION = "8.2"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[functions."api"]
included_files = ["app/**", "bootstrap/**", "config/**", "database/**", "routes/**", "storage/**", ".env"]
