[phases.setup]
nixpkgs = ["php82", "nodejs_20", "postgresql"]

[phases.install]
dependsFile = "composer.json"
commands = ["composer install --no-interaction --prefer-dist --optimize-autoloader"]

[phases.build]
commands = [
  "npm install",
  "npm run build",
  "php artisan config:cache",
  "php artisan route:cache"
]

[start]
runImage = "nixpkgs-php82"
cmd = "vendor/bin/heroku-php-apache2 public/"
releaseCmd = "php artisan migrate:fresh --seed --force"
